@charset "ISO-8859-1";

#container {
width: 150px;
margin: 0 auto;
}
.ex2 img{
height: 150px;
width: 150px;
margin: 15px 0;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}
.ex2 img:hover {
height: 170px;
width: 170px;
margin-top: -50px;
}