@charset "ISO-8859-1";


#container1 {
width: 10px;
margin: 0 auto;
}
.ex1 img{
height: 75px;
width: 160px;
margin: 1px 0;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}
.ex1 img:hover {
height: 75px;
width: 78x;
margin-top: -10px;
}